<body style="background-color:honeydew;">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 style="color:teal;text-align: right; margin-right: 1cm;">ONLINE
        &nbsp;&nbsp;&nbsp;&nbsp;<br> WALLET&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
        APPLICATION</h1>
        <br>

    <div style="margin-left: 26.7cm;">
        <button type="button" class="btn btn-primary">
            <a routerLink="/login">Login</a>
        </button>&nbsp;
        <button type="button" class="btn btn-primary">
            <a routerLink="/signup">SignUp</a>
        </button>
    </div>

</body>